<div contenteditable="true"
    class="h-full p-1 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500    dark:focus:ring-blue-400 bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100    border-gray-200 dark:border-gray-700 whitespace-pre-wrap"
    data-editor-id="editor-1">
    <div data-id="rc5c9yue5" data-type="lineBreak">
        <span data-id="50vrmvcyz" data-type="text">one </span>
        <span data-id="bd69c171-bc33-4dc2-9166-fd1dfbcd8a45" data-type="chip" data-chip="" data-chip-content="two"
            data-original-text="two" contenteditable="false">
            <span contenteditable="false" data-chip="true" data-broker-id="bd69c171-bc33-4dc2-9166-fd1dfbcd8a45"
                class="inline-flex items-center bg-red-500">
                <span class="chip-content">two</span>
                <div class="flex gap-1">
                    <button class="inline-flex items-center " type="button" aria-label="Edit name"> </button>
                    <button class="inline-flex items-center " type="button" aria-label="Remove"> </button>
                </div>
            </span>
        </span>
        <span data-id="e50fgnzht" data-type="text">
            <span data-id="whypuqhgs" data-type="text"> three </span>
            <span data-id="6eed48aa-ee80-4a25-9f42-7ba32a0a8436" data-type="chip" data-chip="" data-chip-content="four"
                data-original-text="four" contenteditable="false">
                <span contenteditable="false" data-chip="true" data-broker-id="6eed48aa-ee80-4a25-9f42-7ba32a0a8436"
                    class="inline-flex items-center bg-red-500">
                    <span class="chip-content">four</span>
                    <div class="flex gap-1">
                        <button class="inline-flex items-center " type="button" aria-label="Edit name"></button>
                        <button class="inline-flex items-center " type="button" aria-label="Remove"></button>
                    </div>
                </span>
            </span>
            <span data-id="98kqst2ha" data-type="text"> five</span>
        </span>
    </div>
</div>