@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: theme('colors.background');
    --card: theme('colors.card');
    --border: theme('colors.border');
    --matrix-border: theme('colors.matrixBorder');
    --foreground: theme('colors.foreground');
    --card-foreground: theme('colors.cardForeground');
    --popover: theme('colors.popover');
    --popover-foreground: theme('colors.popoverForeground');
    --primary: theme('colors.primary');
    --primary-foreground: theme('colors.primaryForeground');
    --secondary: theme('colors.secondary');
    --secondary-foreground: theme('colors.secondaryForeground');
    --muted: theme('colors.muted');
    --muted-foreground: theme('colors.mutedForeground');
    --accent: theme('colors.accent');
    --accent-foreground: theme('colors.accentForeground');
    --destructive: theme('colors.destructive');
    --destructive-foreground: theme('colors.destructiveForeground');
    --input: theme('colors.input');
    --ring: theme('colors.ring');
    --radius: 0.5rem;
}

.dark {
    --background: theme('colors.background');
    --card: theme('colors.card');
    --border: theme('colors.border');
    --matrix-border: theme('colors.matrixBorder');
    --foreground: theme('colors.foreground');
    --card-foreground: theme('colors.cardForeground');
    --popover: theme('colors.popover');
    --popover-foreground: theme('colors.popoverForeground');
    --primary: theme('colors.primary');
    --primary-foreground: theme('colors.primaryForeground');
    --secondary: theme('colors.secondary');
    --secondary-foreground: theme('colors.secondaryForeground');
    --muted: theme('colors.muted');
    --muted-foreground: theme('colors.mutedForeground');
    --accent: theme('colors.accent');
    --accent-foreground: theme('colors.accentForeground');
    --destructive: theme('colors.destructive');
    --destructive-foreground: theme('colors.destructiveForeground');
    --input: theme('colors.input');
    --ring: theme('colors.ring');
}
